.navStyle {
        display: flex;
        justify-content: space-around;
        border: 3px solid darkslategray;
        border-radius: 25px;
        box-shadow: 2px 2px 2px darkslategray;
        padding:8px;
        width: 90%;
        margin: auto;
        background-color:rgba(255,255,255,0.5);
}

.navText {
    color:darkslategray;
    font-weight: strong;
}